
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400&display=swap');/*Lobster Two*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');/* Permanent Marker*/
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');/*Gugi*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');/*glith*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');/*Nabl*/
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');/*Rye*/
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');/*megrim*/

html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
}
li{
    list-style: none;
}

/*                             Cabeçalho                     **/
.cabecalho{
    position: relative;
  
    list-style: none;
    display: flex;
    text-decoration: none;
    row-gap: 10px; 
}
.item{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin-left: 13px;
    border-radius: 20px;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: "Poppins",sans-serif;
   
}
.item:hover, .item_foo:hover{
    background-color:  #c69ef3;
    background-size: 1.5rem;
    color: white;
    text-align: center;
}

.menu {
    text-decoration: none;
    color: white;
}
.img_tit{
    height: 10vh;
    width: 60vh;
}

/*                                    ****                             **/
/*                            Utilitarios e multi paginas                                */

/*                                    pa01                             **/
.text{
   
    font-family: "Poppins",sans-serif;
    text-indent: 3ch;
    text-align: left;
    margin-top: 3%;
   
}
.image1{
    display: list-item;
    margin-top: 50%;
    float: left;
    height: 40vh;
    width: 40vh;
}
.image{
    display: list-item;
    margin-top: 20%;
    float: left;
    height: 91vh;
    width: 80vh;
}
.titulo_pg01{
    margin-top: 10%;
    font-family: 'NemoyMedium';
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.a{
    column-gap: 20px;
    display: flex;
}
pre{
    font-family: "Poppins",sans-serif;
    word-wrap: break-word;
    white-space: pre-wrap;  
}
p
{
    color: white;
}
/*                                    ****                             **/
/*                        pag 02                 */
.titulo_pg02{
    
    font-family: 'Permanent Marker', cursive;
    font-weight: 100;
    margin-top: 4%;
    color: white;
    text-align: center;
    right: 0;
}
.lista{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
}
.albun1{
    position: relative;
    display: flex;
    row-gap: 20%;
    column-gap: 15px;
    margin-top: 2%;
    color: white;
}
.titulo-album{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    list-style: none;
    margin-top: 2%;
    color: white;
}

.titulo{
    font-family:'NemoyMedium', sans-serif;
    text-align: center;
    font-weight: 500;
}
.aa{
    position: relative;
}
/*                                    ****                             **/
/*                        pag 03                 */
.lista_curiosidades_gerais{
    position: relative;
  
    row-gap: 20%;
    column-gap: 15px;
    margin-top: 2%;
    color: white;
}

.lista_curiosidades{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    margin: auto;
}

.middle{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    position: relative;
    display: block;
    color: white;
    font-size: 24px;
    font-family: "NemoyMedium";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #c69ef3;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

.btn::before{
    background: #c69ef3;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btn1::before{
    width: 0%;
    height: 100%;
}
  
.btn1:hover::before{
    width: 100%;
}

/*                                    ****                             **/
/*                                         Rodapé                             */
.roda{
    position: relative;
    display: flex;
    color: white;
    margin-right: 10Px;
}
hr{
    color: whitesmoke;
    filter: brightness(160%);
    filter: drop-shadow(0px 0px 2px);

}
footer{
  display: flex;
  justify-content: center;
  margin-right: 10Px;
}
.item1{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tit_foo{
    font-family: "Poppins",sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center
}
.item_foo{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin-left: 13px;
    border-radius: 20px;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: "Poppins",sans-serif;
}
.item2{
    margin-left: 100px;
    margin-right:100px ;
}
.item3{
    margin-top: 20px;
}
.anni{
    font-size: 2.5rem;
    font-family: 'megrim', cursive;
}
.V{
    font-size: 5rem;
    font-family: 'megrim', cursive;
    color: rgb(213, 163, 236);
   
}
.ov{
    font-size: 5rem;
    font-family: 'megrim', cursive;
    color: rgb(80, 80, 233);
    
}
.corp{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'megrim', cursive;
}
.sobre{
    font-family: "Poppins",sans-serif;
   
    text-align: justify;
    margin-top: 3%;

}
/*                           *********************************************     */

/*                                           page 4                     **/

.container{
    position: relative;
    margin-top: 10px;
}


.formi {
position: relative;
top: 60%;
left: 35%;
width: 400px;
height: 100%;
bottom: 10px;

box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0,0,0,.6);
border-radius: 10px;
font-family: "Poppins",sans-serif;
}

.titulo_form {
margin-bottom: 50px;
font-family: "Poppins",sans-serif;

color: #fff;
text-align: center;
}

.formi .box {
position: relative;
}

.formi .box input {
width: 100%;
padding: 10px 0;
font-size: 16px;
color: #fff;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;
font-family: "Poppins",sans-serif;
}
.formi .box label {
position: absolute;
top:0;
left: 0;
padding: 10px 0;
font-size: 16px;
color: #fff;
pointer-events: none;
transition: .5s;
font-family: "Poppins",sans-serif;
}

.formi .box input:focus ~ label,
.formi .box input:valid ~ label
{
top: -20px;
left: 0;
color: #03e9f4;
font-size: 12px;
}
.span_text{

display: none;
word-wrap: break-word;
width: 200%;
margin-left: -190px;
text-align: justify;
}
.termos:hover{
text-decoration: underline blue;
}
.trm{
font-family: "Poppins",sans-serif;
}
.termos{
color: blue;
}
.btn-sub{
background-color: transparent;
color: white;
font-size: large;
outline: none;
border: 1px solid rgb(233, 153, 4);
font-family: "Poppins",sans-serif;
margin-left: 20px;
}
.btn-sub:hover{
background-color: rgb(233, 153, 4); ;
}
.btn-res{
background-color: transparent;
color: white;
font-size: large;
outline: none;
border: 1px solid rgb(255, 0, 0);
margin-left: 15px;
font-family: "Poppins",sans-serif;
}
.btn-res:hover{
background-color: rgb(255, 0, 0);;
}
.negrito{
font-weight: bold;
font-family: 'megrim', cursive;
letter-spacing: 0.2rem;
}
.tit_term{
margin-left: 35%;
font-size: 1.2rem;
}
.img-alb{
    margin-right: 30px;
}
.gira{
    font-size: 1.2rem;
    font-family: "Poppins", cursive;

}
.tabela{
    position: relative;
    align-items: center;
    justify-content: center;
    
    margin-left: 30%;
}
table{
   width: 50%;
    font-size: 1.5rem;
    font-family: "Poppins", cursive;
    border: 1px solid white;
}

.tit-table{
font-size: 1.5rem;
    font-family: "Poppins", cursive;
    margin-bottom: 2%;
    margin-left: 43%;
}


